/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

# Project files
.sass-cache
.idea
*.sublime*
node_modules
_ide_helper.php
npm-debug.log

# Directories
public/components
tests/_output/*
